SUPABASE_URL=https://gowgffsryteijhitltqa.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_vZwLm4ZZ_UD3Tw9nVSZ1kg_oUT6ONGi
JWT_SECRET="2bb7ccb7-3347-47cc-8550-76f4d40c4ca9"
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdvd2dmZnNyeXRlaWpoaXRsdHFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MzcwNzQsImV4cCI6MjA5MzQxMzA3NH0.04e-leQNseJKWO6m8nMf1ZViiTu1xwUek5kidfsmjlc

PORT=3000

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=uni66841@gmail.com
EMAIL_PASS=xkdjylwqkmxepxxc
FRONTEND_URL=http://localhost:19006